.main {
  display: flex;
  background: #000;
  color: yellow;

  .content {
    .charactersList {
      margin: 0;
      padding: 0;
    
      li {
        list-style: none;
      }
    }
  }
}